.App {
  max-width: 600px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h4 {
  margin-bottom: 0px;
}

h4 button {
  margin-left: .5rem;
}

li button {
  margin-right: .5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
